In [1]:
import pandas as pd
import numpy as np

In [4]:
# Create a dataframe with shape (1000, 15) with random NaN values
np.random.seed(0)  # For reproducibility
columns = ['Velocity', 'Acceleration', 'Force', 'Energy', 'Power', 'Momentum', 'Pressure', 'Density', 'Volume', 'Temperature', 'Entropy', 'Frequency', 'Wavelength', 'Amplitude', 'Charge']
df_random = pd.DataFrame(np.random.randn(1000, 15), columns=columns)

# Introduce random NaN values
nan_mask = np.random.rand(1000, 15) < 0.5  # 10% NaNs
df_random[nan_mask] = np.nan

df_random

,Velocity,Acceleration,Force,Energy,Power,Momentum,Pressure,Density,Volume,Temperature,Entropy,Frequency,Wavelength,Amplitude,Charge
0,1.764052,0.400157,0.978738,NaN,NaN,-0.977278,0.950088,NaN,-0.103219,NaN,0.144044,1.454274,NaN,NaN,NaN
1,0.333674,NaN,-0.205158,NaN,-0.854096,NaN,NaN,0.864436,-0.742165,2.269755,-1.454366,0.045759,-0.187184,NaN,NaN
2,NaN,NaN,NaN,NaN,-0.347912,NaN,NaN,NaN,-0.387327,-0.302303,NaN,NaN,-1.706270,1.950775,-0.509652
3,NaN,-1.252795,0.777490,-1.613898,-0.212740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.362741
4,NaN,NaN,-0.813146,-1.726283,0.177426,NaN,-1.630198,0.462782,-0.907298,0.051945,NaN,NaN,1.139401,-1.234826,0.402342
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.131007,NaN,1.497666,0.064258,0.980597,NaN,NaN,-0.257791,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,NaN,NaN,-0.726519,-0.107069,0.431502,NaN,1.064890,1.251350,-1.617990,NaN,NaN,NaN,0.364806,0.494399,NaN
997,NaN,0.478707,NaN,0.983924,NaN,NaN,1.866817,NaN,NaN,2.241022,NaN,0.679041,NaN,NaN,NaN
998,NaN,-1.735240,NaN,NaN,0.002260,NaN,-1.765536,NaN,1.167868,NaN,0.613776,-0.156090,-1.224926,1.069132,0.800267
999,0.907949,NaN,-0.609656,0.841401,NaN,NaN,NaN,NaN,0.127620,1.202722,0.628442,1.838881,0.753094,NaN,-0.198380

In [11]:
data = df_random.values

0      0.978738
1     -0.205158
2           NaN
3      0.777490
4     -0.813146
         ...
995    1.497666
996   -0.726519
997         NaN
998         NaN
999   -0.609656
Name: Force, Length: 1000, dtype: float64

In [15]:
np.where(~np.isnan(df_random.iloc[:, 2]))[0]

array([  0,   1,   3,   4,   5,   7,   8,  11,  14,  15,  17,  18,  20,
        24,  25,  26,  28,  30,  32,  36,  38,  39,  40,  43,  44,  45,
        46,  48,  49,  50,  54,  58,  59,  60,  62,  64,  66,  68,  69,
        70,  71,  72,  75,  76,  77,  79,  80,  83,  85,  87,  88,  89,
        90,  91,  92,  96, 102, 103, 104, 106, 107, 108, 110, 112, 113,
       114, 117, 118, 119, 121, 122, 124, 125, 126, 127, 128, 129, 130,
       131, 134, 140, 141, 142, 143, 145, 147, 153, 158, 162, 163, 165,
       166, 168, 170, 171, 173, 174, 175, 177, 179, 182, 184, 187, 191,
       192, 195, 200, 201, 202, 203, 204, 206, 208, 211, 212, 215, 218,
       219, 220, 221, 222, 225, 226, 229, 230, 233, 235, 236, 237, 238,
       245, 247, 248, 251, 252, 254, 255, 256, 259, 263, 266, 269, 270,
       271, 272, 273, 275, 276, 277, 279, 280, 283, 284, 287, 288, 289,
       290, 292, 294, 295, 297, 300, 303, 304, 307, 308, 310, 311, 312,
       313, 314, 315, 321, 322, 325, 326, 327, 328, 330, 335, 336, 339,
       340, 341, 345, 346, 347, 348, 349, 351, 352, 355, 357, 358, 359,
       360, 361, 363, 364, 365, 366, 367, 368, 369, 371, 372, 374, 376,
       382, 383, 384, 385, 386, 388, 389, 390, 392, 394, 396, 397, 400,
       402, 405, 406, 407, 409, 413, 416, 417, 420, 421, 423, 428, 429,
       432, 434, 435, 436, 440, 441, 444, 445, 446, 447, 448, 449, 450,
       454, 455, 456, 457, 458, 461, 462, 469, 471, 473, 480, 481, 482,
       483, 486, 487, 488, 489, 491, 498, 499, 501, 503, 504, 505, 507,
       509, 510, 512, 515, 518, 519, 520, 521, 522, 523, 524, 527, 529,
       530, 531, 532, 533, 535, 537, 538, 540, 546, 547, 549, 550, 551,
       552, 554, 558, 561, 562, 565, 566, 572, 573, 574, 576, 577, 579,
       581, 582, 583, 584, 585, 587, 589, 591, 596, 597, 603, 604, 605,
       608, 609, 612, 613, 616, 618, 619, 620, 621, 625, 626, 627, 628,
       629, 631, 639, 643, 644, 645, 646, 648, 649, 650, 651, 652, 654,
       655, 657, 659, 660, 662, 664, 668, 669, 671, 672, 673, 674, 675,
       677, 680, 681, 683, 684, 685, 686, 688, 691, 693, 694, 695, 697,
       698, 700, 701, 702, 704, 706, 712, 714, 717, 719, 723, 725, 726,
       727, 728, 729, 733, 734, 735, 738, 739, 742, 743, 746, 749, 751,
       752, 754, 757, 759, 763, 765, 769, 770, 771, 772, 775, 781, 782,
       783, 784, 785, 786, 788, 790, 791, 793, 794, 795, 796, 797, 802,
       805, 806, 808, 814, 817, 820, 822, 823, 824, 826, 827, 828, 831,
       833, 834, 837, 839, 840, 842, 843, 844, 845, 848, 850, 851, 856,
       858, 860, 863, 864, 865, 866, 868, 869, 871, 875, 876, 877, 878,
       879, 880, 884, 887, 889, 890, 892, 893, 894, 895, 903, 906, 907,
       908, 910, 911, 912, 913, 915, 916, 917, 918, 920, 925, 929, 932,
       934, 937, 938, 939, 941, 942, 943, 947, 948, 950, 951, 952, 956,
       959, 961, 965, 968, 969, 971, 973, 974, 977, 979, 982, 984, 988,
       990, 991, 992, 994, 995, 996, 999])